.mySlides {
  z-index: initial;
  width: auto;
  height: auto;
  padding: 0px 0px 0px 0px;
}
.caption {
  z-index: 2;
  color: black;
  font-size: 1em;
  padding: 0px 0px 0px 0px;
}
.figure-test {
  z-index: 3;
  font-size: 1em;
  height: auto;
  padding: 17px 14px 17px 14px;
}
.embed {
  margin: 0px;
  height: 60px;
  width: auto;
}
